
/* ? Intro */
.intro {
    background: url("../images/black/bg-intro.jpeg") no-repeat fixed;
    background-size:cover;
    background-position: center 100%;
    background-color: var(--bg-color-header);
}

.intro__wrapper {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__inner {
    max-width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.intro__logo {
    max-width: 500px;
    padding-right: 50px;

    transform: translate(-100%, 0px);
    opacity: 0;
    transition: all 0.8s;
}


.intro__logo img{
    max-width: 100%;
}

.intro__title {
    color: var(--color-text-header);
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;

    max-width: 600px;

    transform: translate(100%, 0px);
    opacity: 0;
    transition: all 0.8s;
}

.intro__footer {
    height: 15vh;
    background-color: var(--bg-color-header);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s  ease 0.5s;

    z-index: 3;
}

._active {
    transform: translate(0px, 0px);
    opacity: 1;
}



.footer__text {
    color: var(--color-text-header);

    font-size: 22px;
    font-weight: 600;
    max-width: 900px;
}
