/* ? Popup */

body.lock {
    overflow: hidden;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 10000;

    opacity: 0;
    visibility: hidden;

    /* Скрол */
    overflow-y: auto;
    overflow-x: hidden;

    transition: all .8s ease 0s;
}

strong {
    color: #f00;
}


.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.popup__content {
    background-color: #fff; 
    color: #333; 

    padding: 30px;

    border-radius: 5px;

    position: relative;
 
    transition: all .8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}


.popup__close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 30px;

    text-decoration: none;
}

