@import url(header.css);
@import url(news.css);
@import url(popup.css);
@import url(about.css);
@import url(form.css);
@import url(venders.css);
@import url(work.css);
@import url(contacts.css);
@import url(intro.css);
@import url(about-list.css);


/* * Root */
:root {
    --bg-color-header: #090f19;

    --color-text-header: #fff;
    --color-text-page: #333;

    --bg-color-first: #49ABE4;
    --bg-color-second: #495a9b;
}

/* ? Base */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html { 
	height: 100%;
}

body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

/* ? Container */
.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.page {
    overflow: hidden;
}

hr {
    content: "";
    border: 0;
    height: 2.5px;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(73, 171, 228,0)),color-stop(rgba(73, 90, 155,.75)),to(rgba(73, 171, 228,0)));
    background-image: -o-linear-gradient(left,rgba(73, 171, 228,0),rgba(73, 90, 155,.75),rgba(73, 171, 228,0));
    background-image: linear-gradient(90deg,rgba(73, 171, 228,0),rgba(73, 90, 155,.75),rgba(73, 171, 228,0));

    margin: auto;
    max-width: 1134px;
    padding-left: 15px;
    padding-right: 15px;

    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

.slogn {
    font-size: 25px;
}


.container__title {
    background-color: var(--bg-color-header);
    color: var(--color-text-header);
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;

    padding: 15px 0;
}


/* * MEDIA */

@media (max-width: 1920px) {

    .header {
        height: 70px;
    }

    .header__logo {
        display: none;
    }

    .text__logo {
        display: inline;
    }

    .nav__item {
        margin-left: 20px;
        font-size: 20px;
    }

    .contacts__item {
        font-size: 13px;
        margin-left: 20px;
    }
}


@media (max-width: 1366px) {

    .nav__item {
        margin-left: 10px;
        font-size: 20px;
    }

    .contacts__item {
        font-size: 14px;
        margin-left: 10px;
    }
}
@media (max-width: 1160px){
    .nav__item {
        font-size: 18px;
    }

    .contacts__item {
        font-size: 12px;
    }

    .intro__title {
        text-align: center;
        max-width: 450px;
        font-size: 26px;
        padding-right: 50px;
    }


}

@media (max-width: 1025px){
    .intro__title {
        max-width: 400px;
        font-size: 22px;
        padding-right: 50px;
    }
    .intro__logo {
        max-width: 400px;
    }

    .header {
        justify-content: space-between;
    }
    .nav__bar {
        margin-right: 20px;
    }
    .nav__bar {
        display: flex;
        align-items: center;
    }

    .text__logo {
        padding-left: 20px;
    }

    .nav {
        display: none;
    }

    .menu {
        background-color: rgba(9, 15, 25, 0.95);

        opacity: 1;
        transform: translate(0px, 0px);

        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;

    }
    
    .menu .nav__item {
        margin: 0;
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid var(--color-text-header);
    }

    .menu .nav__item:first-child {
        border-top: 4px solid var(--color-text-header);

    }

    .nav__item::after {
        display: none;
    }

    .contacts__item {
        display: none;
    }

    .footer__text {
        font-size: 20px;
        padding: 15px;
    }

    .about__slogn {
        padding-left: 20px;
        padding-right: 20px;
    }
    

}

@media (max-width: 850px){
    .list__item {
        max-width: 400px;
        font-size: 16px;
        padding: 20px 10px;
    }

    .slogn {
        font-size: 22px;
    }

    .vender {
        width: 18%;
    }

    .scheme__item {
        height: 100px;
        width: 30%;
    }

    .contacts__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
    }
    .contacts__info {
        padding: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .contacts__map {
        width: 100%;
    }
}


@media (max-width: 768px){
    .intro {
        background: url("../images/black/bg-intro.jpeg") no-repeat center;
        background-size:cover;
    }
    .about {
        background: url("../images/black/bg-about.jpg") no-repeat center;
        background-size:cover;
    }

    .wrapper__inner {
        flex-direction: column;
    }

    .intro__logo {
        padding-right: 0;
        padding-bottom: 50px;
        max-width: 500px;
    }

    .intro__title {
        padding-right: 0;
        max-width: 500px;
        font-size: 28px;

        padding-bottom: 50px;
    }

    .footer__text {
        font-size: 18px;
    }

    .button {
        width: 15em;
    }

    .form__button {
        width: 100%;
    }

    .about__text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .slogn {
        font-size: 18px;
    }

    .vender {
        width: 23%;
    }

    .scheme__item {
        font-size: 16px;
    }
    
}
@media (max-width: 600px){
    .scheme {
        margin: 0;
    }
    .scheme__item {
        width: 300px;
        transition: all 0.8s ease 0.2s;
    }
    .contacts__wrapper {
        padding: 0 25px;
    }
}

@media (max-width: 460px){
    .intro__logo {
        max-width: 400px;
    }

    .intro__title {
        padding: 0 15px;
        max-width: 400px;
        font-size: 20px;
        padding-bottom: 50px;
    }

    .button {
        font-size: 20px;
        width: 13em;
    }

    /* Form */
    .form__button {
        width: 100%;
    }
    .form__label {
        font-size: 16px;
    }
    .form__title {
        font-size: 25px;
    }

    .footer__text {
        font-size: 16px;
    }

    .popup__content {
        padding: 10px;
    }

    .about__slogn {
        font-size: 22px;
    }

    .about__text {
        padding: 0;
        font-size: 18px;
    }

    .about__title {
        padding-left: 0;
        padding-right: 0;
    }

    .list__item {
        height: auto;
    }

    .vender {
        width: 28%;
    }
    .contacts__wrapper {
        padding: 0;
    }

    .menu .nav__item {
        font-size: 20px;
    }
}

@media (max-width: 350px){
    .form__title {
        text-align: s;
        font-size: 22px;
    }
}

