/* ? Work */

.work {
    background-color: var(--bg-color-header);
    padding-bottom: 75px;
    margin-bottom: 30px;
}

.work__wrapper {
    margin-top: 50px;
}

.scheme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
    text-align: center;
}

.scheme__item {
    width: 20%;
    padding: 30px 10px;
    margin: 40px 10px;

    color: var(--bg-color-header);
    background-color: var(--color-text-header);
    border-radius: 30px;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;

    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
}

.scheme__item::after {
    content: "1";
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color-first);
    color: var(--color-text-header);
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second::after {
    content: "2";
}

.third::after {
    content: "3";
}

.fouth::after {
    content: "4";
}

.fiveth::after {
    content: "5";
}

.sixth::after {
    content: "6";
}

.seventh::after {
    content: "7";
}

.eigth::after {
    content: "8";
}

.first {
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: all 0.8s ease 0.2s;
}

.second {
    opacity: 0;
    transform: translate(-200%, 0px);
    transition: all 0.8s ease 0.4s;
}

.third {
    opacity: 0;
    transform: translate(-300%, 0px);
    transition: all 0.8s ease 0.6s;
}

.fouth {
    opacity: 0;
    transform: translate(-400%, 0px);
    transition: all 0.8s ease 0.8s;
}

.fiveth {
    opacity: 0;
    transform: translate(400%, 0px);
    transition: all 0.8s ease 1s;
}

.sixth {
    opacity: 0;
    transform: translate(300%, 0px);
    transition: all 0.8s ease 1.2s;
}

.seventh {
    opacity: 0;
    transform: translate(200%, 0px);
    transition: all 0.8s ease 1.4s;
}

.eigth {
    opacity: 0;
    transform: translate(100%, 0px);
    transition: all 0.8s ease 1.6s;
}

